@font-face {
    font-family: 'Nunito';
    src: url(./resources/Nunito-Light.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(./resources/Poppins-Medium.ttf);
}

body {
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: 0;
    background-color: rgb(194, 194, 194);
}

img {
    height: 100vh;
    display: block;
    min-height: 700px;
    float: left;
    padding-right: 50px;
}

h1 {
    position: absolute;
    top: 80vh;
    left: 80px;
    text-align: center;
    font-family: 'Nunito';
    font-size: 5vh;
    color: white;
}

.signUpContainer {
    font-family: 'Poppins';
} 

p {
    margin-top: 0;
    padding-top: 40px;
    padding-right: 40px;
    font-size: 4vh;
}

h2 {
    padding-top:20px;
    font-size: 30px;
}

.banner {
    height: 100%;
    min-width: 1400px;
    background-color: rgb(229, 229, 229);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

form {
    display: flex;
}

label, input {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

input {
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid rgb(155, 154, 154);
    height: 30px;
    width: 300px;
}

button {
    color: white;
    cursor: pointer;
    background-color: rgb(10, 10, 180);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top:40px ;
    font-size: 25px;
    height: 60px;
}

.login {
    font-size: 20px;
    margin-bottom: -20px;
}


